* {
    box-sizing: border-box;
    margin: 0px;
}

/* 네비게이션 바 스타일 */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FF7710; /* 배경 색상 설정 */
    overflow: hidden;
    padding: 10px 10px;
}


/* 로고 스타일 */
.logo {
    margin-left: 20px; /* 좌측 여백 설정 */
    height: 40px; /* 로고 크기 조정 */
}

/* 네비게이션 링크 리스트 스타일 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* 네비게이션 링크 아이템 스타일
nav ul li {
    float: left;
} */

/* 네비게이션 링크 스타일 */
nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* 현재 페이지 링크 스타일 */
nav ul li a.active, nav ul li a:hover {
    font-weight: bold; /* 볼드체 적용 */
}

/* 링크에 마우스 호버 시 스타일 */
nav ul li a:hover {
    background-color:rgba(255, 119, 16, 0.50);
    color: black;
}
